@page
@model LicenseRentalPage.Pages.AddLicenseModel
@{
	ViewData["Title"] = "Add License";
}

<p><b>@ViewData["Title"]</b></p>

<form method="post">
	<input asp-for="NewLicenseId" type="text" id="licenseNumber" placeholder="Enter license here" value=@Model.NewLicenseId />
	<button type="submit">Add</button>
	<button type="submit" asp-page="/Admin">Cancel</button>
</form>

@if (!string.IsNullOrEmpty(Model.DisplayData))
{
	<p class="alert alert-success">@Model.DisplayData</p>
}

